.container {
    background-color: #96bdc6;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
    width: 98vw;
    padding: 0 1vw 0 1vw;
}
